@model Model.EF.vt_cv
@{
    ViewBag.Title = "EditVTCV";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<Model.EF.vaitro> vaitro = ViewData["listVT"] as List<Model.EF.vaitro>;
    List<Model.EF.chucvu> chucvu = ViewData["listCV"] as List<Model.EF.chucvu>;
}


@section header{
    Sửa Vai Trò - Chức Vụ
}

@using (Html.BeginForm("EditVTCV", "VTCV"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vai Trò - Chức Vụ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.cv_id, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                <select disabled class="form-control" id="cv_id" name="cv_id">
                    @foreach (var cv in chucvu)
                    {
                        <option value=@cv.cv_id>@cv.cv_ten</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.cv_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vt_id, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                <select disabled class="form-control" id="vt_id" name="vt_id">
                    @foreach (var vt in vaitro)
                    {
                        <option value=@vt.vt_id>@vt.vt_ten</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.vt_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vtcv_ghichu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vtcv_ghichu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vtcv_ghichu, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sửa" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay về", "HienThiVTCV")
</div>
