@model PagedList.IPagedList<Model.EF.khachhang>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    // List<Model.EF.khachhang> khachhang = ViewData["list"] as List<Model.EF.khachhang>;

}

@section header{

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Admin/ChiSo/Index">Chỉ Số</a></li>
        <li class="breadcrumb-item active">Danh sách Khách Hàng</li>
    </ol>
}

<div class="card mb-4">
    <div class="card-header">
        <a class=" btn btn-success" href="/Admin/KyGhi/Create">
            <i class="fas fa-plus"></i>
            Thêm kỳ ghi mới
        </a>
    </div>
    <div class="panel-body">


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã Khách Hàng</th>
                            <th>Tên Khách hàng</th>
                            <th>Loại Khách hàng</th>
                            <th>Lộ Trình</th>
                            <th>Địa Chỉ</th>
                            <th>Xem</th>
                            <th>Ghi Nước</th>
                            <th>Thu Tiền Nước</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã Khách Hàng</th>
                            <th>Tên Khách hàng</th>
                            <th>Loại Khách hàng</th>
                            <th>Lộ Trình</th>
                            <th>Địa Chỉ</th>
                            <th>Xem</th>
                            <th>Ghi Nước</th>
                            <th>Thu Tiền Nước</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.kh_id</td>
                                <td>@i.kh_hoten</td>
                                <td>@i.loaikhachhang.lkh_ten</td>
                                <td>@i.lotrinh.lt_ten _ @i.lotrinh.khuvuc.kv_ten _ @i.lotrinh.khuvuc.phuong.p_ten _ @i.lotrinh.khuvuc.phuong.quan.q_ten _ TP.@i.lotrinh.khuvuc.phuong.quan.tinh.t_ten</td>
                                <td>@i.kh_diachilapdat</td>

                                <td><a class="btn btn-primary" href="/Admin/ChiSo/Details/@i.kh_id"><i class="fas fa-eye"></i></a></td>
                                <td><a class="btn btn-success" href="/Admin/ChiSo/Create/@i.kh_id"><i class="fas fa-edit"></i></a></td>
                                <td><a class="btn btn-info" href="/Admin/Bill/ListBill?kh_id=@i.kh_id"><i class="fas fa-hand-holding-usd"></i></a></td>



                            </tr>
                        }




                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>