
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    @RenderPage("_Head.cshtml")

</head>

<body class="header-fixed header-fixed-space">
    <form method="post" action="./" id="aspnetForm">
        <div class="aspNetHidden">
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var theForm = document.forms['aspnetForm'];
        if (!theForm) {
            theForm = document.aspnetForm;
        }
        function __doPostBack(eventTarget, eventArgument) {
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                theForm.submit();
            }
        }
                    //]]>
    </script>


    <script src="~/Assets/Client/App_Themes/assets/WebResource.axd" type="text/javascript"></script>

    <div class="aspNetHidden">

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
               value="/wEdAAMPZGFRd4lzbowGl0Ebwdd/TZFNVvBVKfJ7T2aVRQWnAHOA3UaRLq+KRl/UAwmjtbC4U9Cvbgc61IHW4skYM3ug2EBQ7N/SkXcY8AGANfnDtw==" />
    </div>
    <div class="wrapper page-option-v1">
        <!--=== Header ===-->
        @RenderPage("_Header.cshtml")
        <!--=== End Header ===-->
        <!--=== Slider ===-->
        @RenderPage("_Slider.cshtml")
        <!--=== End Slider ===-->
        <!--=== Service Block ===-->
        @RenderPage("_ServiceBlock.cshtml")
        <!--=== End Service Block ===-->
        <!--=== Main content ===-->
        @RenderBody()
        <div class="container content-xs">
            <div class="headline headline_theme">
                <h2 style="font-weight:700; font-family:Arial;font-size:12px">TIN MỚI CẬP NHẬT</h2>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <script id="dxis_1223057363" src="/DXR.axd?r=1_187,1_101,1_180,1_120,1_154-LRG4e" type="text/javascript"></script><link rel="stylesheet" type="text/css" href="/DXR.axd?r=0_1879,0_2021,1_16,0_1881,0_2025-LRG4e"><table class="dxgvControl_MetropolisBlue" cellspacing="0" cellpadding="0" id="ctl00_ContentPlace_grvTinTuc" style="border-style:None;width:100%;border-collapse:collapse;border-collapse:separate;">
                        <tbody>
                            <tr>
                                <td>
                                    <table id="ctl00_ContentPlace_grvTinTuc_DXMainTable" class="dxgvTable_MetropolisBlue" cellspacing="0" cellpadding="0" onclick="aspxGVTableClick('ctl00_ContentPlace_grvTinTuc', event);" style="width:100%;border-collapse:collapse;empty-cells:show;">
                                        <tbody>
                                            <tr id="ctl00_ContentPlace_grvTinTuc_DXDataRow0" class="dxgvDataRow_MetropolisBlue">
                                                <td id="ctl00_ContentPlace_grvTinTuc_tcrow0" style="border-right-width:0px;border-bottom-width:0px;">
                                                    <ul style="margin: 0px 0px 5px 0px; font-family:Arial;font-size:12px">
                                                        <li style="color: rgb(27, 63, 173);"><a href="TinTuc/22/thong-bao-cao-loi-khach-hang-do-loi-ky-thuat-gui-tin-nhan-thong-bao-tien-nuoc-thang-52019" style="text-decoration: none; cursor: pointer">Thông báo cáo lỗi khách hàng do lỗi kỹ thuật gửi tin nhắn thông báo tiền nước tháng 5/2019</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr id="ctl00_ContentPlace_grvTinTuc_DXDataRow1" class="dxgvDataRow_MetropolisBlue">
                                                <td id="ctl00_ContentPlace_grvTinTuc_tcrow1" style="border-right-width:0px;border-bottom-width:0px;">
                                                    <ul style="margin: 0px 0px 5px 0px; font-family:Arial;font-size:12px">
                                                        <li style="color: rgb(27, 63, 173);"><a href="TinTuc/21/thong-bao-den-khach-hang-ve-viec-trien-khai-hoa-don-dien-tu-tren-dia-ban-quan-ly-xi-nghiep-kdns-hoan" style="text-decoration: none; cursor: pointer">Thông báo đến khách hàng về việc triển khai Hóa đơn điện tử trên địa bàn quản lý xí nghiệp KDNS Hoàng Mai</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr id="ctl00_ContentPlace_grvTinTuc_DXDataRow2" class="dxgvDataRow_MetropolisBlue">
                                                <td id="ctl00_ContentPlace_grvTinTuc_tcrow2" style="border-right-width:0px;border-bottom-width:0px;">
                                                    <ul style="margin: 0px 0px 5px 0px; font-family:Arial;font-size:12px">
                                                        <li style="color: rgb(27, 63, 173);"><a href="TinTuc/20/thong-bao-den-khach-hang-ve-viec-trien-khai-hoa-don-dien-tu-tren-dia-ban-quan-ly-xi-nghiep-kdns-hai" style="text-decoration: none; cursor: pointer">Thông báo đến khách hàng về việc triển khai Hóa đơn điện tử trên địa bàn quản lý xí nghiệp KDNS Hai Bà Trưng</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table><img id="ctl00_ContentPlace_grvTinTuc_IADD" class="dxGridView_gvDragAndDropArrowDown_MetropolisBlue" src="/DXR.axd?r=1_19-LRG4e" alt="|" style="position:absolute;visibility:hidden;top:-100px;"><img id="ctl00_ContentPlace_grvTinTuc_IADU" class="dxGridView_gvDragAndDropArrowUp_MetropolisBlue" src="/DXR.axd?r=1_19-LRG4e" alt="|" style="position:absolute;visibility:hidden;top:-100px;"><img id="ctl00_ContentPlace_grvTinTuc_IDHF" class="dxGridView_gvDragAndDropHideColumn_MetropolisBlue" src="/DXR.axd?r=1_19-LRG4e" alt="Hide" style="position:absolute;visibility:hidden;top:-100px;"><table id="ctl00_ContentPlace_grvTinTuc_LP" class="dxgvLoadingPanel_MetropolisBlue" cellspacing="0" cellpadding="0" style="border-collapse:collapse;left:0px;top:0px;z-index:30000;display:none;">
                                        <tbody>
                                            <tr>
                                                <td class="dx" style="padding-right:0px;"><img class="dxlp-loadingImage dxlp-imgPosLeft" src="/DXR.axd?r=1_19-LRG4e" alt="" align="middle"></td>
                                                <td class="dx" style="padding-left:0px;"><span id="ctl00_ContentPlace_grvTinTuc_TL">Loading…</span></td>
                                            </tr>
                                        </tbody>
                                    </table><div id="ctl00_ContentPlace_grvTinTuc_LD" class="dxgvLoadingDiv_MetropolisBlue" style="display:none;z-index:29999;position:absolute;">

                                    </div><input type="hidden" name="ctl00$ContentPlace$grvTinTuc$DXSelInput" id="ctl00_ContentPlace_grvTinTuc_DXSelInput"><input type="hidden" name="ctl00$ContentPlace$grvTinTuc$DXKVInput" id="ctl00_ContentPlace_grvTinTuc_DXKVInput" value="['22','21','20']"><table id="ctl00_ContentPlace_grvTinTuc_DXStyleTable" style="display:none;">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvEditingErrorRow_MetropolisBlue">
                                                <td class="dxgv" data-colspan="1" style="border-right-width:0px;"></td>
                                            </tr>
                                            <tr class="dxgvSelectedRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvFocusedRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvFocusedGroupRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="dxgvBatchEditCell_MetropolisBlue dxgv"></td>
                                                <td class="dxgvBatchEditModifiedCell_MetropolisBlue dxgv"></td>
                                                <td class="dxgvBatchEditCell_MetropolisBlue dxgvBatchEditModifiedCell_MetropolisBlue dxgv"></td>
                                            </tr>
                                            <tr class="dxgvDataRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvDataRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvDataRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table><input type="hidden" name="ctl00$ContentPlace$grvTinTuc$CallbackState" id="ctl00_ContentPlace_grvTinTuc_CallbackState" value="BwIHAQIFU3RhdGUHNwcABwAHAAcABwACAAUAAACACQICSUQHAQICSUQDCQIAAgADBwQCAAcAAgEHAwcAAgEHAAcABwACCFBhZ2VTaXplAwcD">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script id="dxss_998739541" type="text/javascript">
<!--

                        var dxo = new ASPxClientGridView('ctl00_ContentPlace_grvTinTuc');
                        window['grvCauHoi'] = dxo;
                        dxo.callBack = function (arg) { WebForm_DoCallback('ctl00$ContentPlace$grvTinTuc', arg, aspxCallback, 'ctl00_ContentPlace_grvTinTuc', aspxCallbackError, true); };
                        dxo.uniqueID = 'ctl00$ContentPlace$grvTinTuc';
                        dxo.callBacksEnabled = true;
                        dxo.pageRowCount = 3;
                        dxo.pageRowSize = 3;
                        dxo.pageIndex = 0;
                        dxo.pageCount = 1;
                        dxo.selectedWithoutPageRowCount = 0;
                        dxo.filteredSelectedWithoutPageRowCount = 0;
                        dxo.visibleStartIndex = 0;
                        dxo.focusedRowIndex = -1;
                        dxo.allowFocusedRow = false;
                        dxo.allowSelectByRowClick = false;
                        dxo.allowSelectSingleRowOnly = false;
                        dxo.allowMultiColumnAutoFilter = false;
                        dxo.indentColumnCount = 0;
                        dxo.callbackOnFocusedRowChanged = false;
                        dxo.callbackOnSelectionChanged = false;
                        dxo.autoFilterDelay = '1200';
                        dxo.columns = [];
                        dxo.editState = 0;
                        dxo.editMode = 2;
                        dxo.searchPanelFilter = '';
                        dxo.AfterCreate();

                        //-->
                    </script>

                </div>
                <div class="col-md-6">
                    <table class="dxgvControl_MetropolisBlue" cellspacing="0" cellpadding="0" id="ctl00_ContentPlace_grvTinTuc2" style="border-style:None;width:100%;border-collapse:collapse;border-collapse:separate;">
                        <tbody>
                            <tr>
                                <td>
                                    <table id="ctl00_ContentPlace_grvTinTuc2_DXMainTable" class="dxgvTable_MetropolisBlue" cellspacing="0" cellpadding="0" onclick="aspxGVTableClick('ctl00_ContentPlace_grvTinTuc2', event);" style="width:100%;border-collapse:collapse;empty-cells:show;">
                                        <tbody>
                                            <tr id="ctl00_ContentPlace_grvTinTuc2_DXDataRow0" class="dxgvDataRow_MetropolisBlue">
                                                <td id="ctl00_ContentPlace_grvTinTuc2_tcrow0" style="border-right-width:0px;border-bottom-width:0px;">
                                                    <ul style="margin: 0px 0px 5px 0px; font-family:Arial;font-size:12px">
                                                        <li style="color: rgb(27, 63, 173);"><a href="TinTuc/17/thong-bao-den-khach-hang-ve-viec-trien-khai-hoa-don-dien-tu-tren-dia-ban-quan-ly-xi-nghiep-kdns-cau" style="text-decoration: none; cursor: pointer">Thông báo đến khách hàng về việc triển khai Hóa đơn điện tử trên địa bàn quản lý Xí nghiệp KDNS Cầu Giấy</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr id="ctl00_ContentPlace_grvTinTuc2_DXDataRow1" class="dxgvDataRow_MetropolisBlue">
                                                <td id="ctl00_ContentPlace_grvTinTuc2_tcrow1" style="border-right-width:0px;border-bottom-width:0px;">
                                                    <ul style="margin: 0px 0px 5px 0px; font-family:Arial;font-size:12px">
                                                        <li style="color: rgb(27, 63, 173);"><a href="TinTuc/16/thong-bao-den-khach-hang-ve-viec-trien-khai-hoa-don-dien-tu-tren-dia-ban-quan-ly-xi-nghiep-kdns-dong" style="text-decoration: none; cursor: pointer">Thông báo đến khách hàng về việc triển khai Hóa đơn điện tử trên địa bàn quản lý Xí nghiệp KDNS Đống Đa</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr id="ctl00_ContentPlace_grvTinTuc2_DXDataRow2" class="dxgvDataRow_MetropolisBlue">
                                                <td id="ctl00_ContentPlace_grvTinTuc2_tcrow2" style="border-right-width:0px;border-bottom-width:0px;">
                                                    <ul style="margin: 0px 0px 5px 0px; font-family:Arial;font-size:12px">
                                                        <li style="color: rgb(27, 63, 173);"><a href="TinTuc/11/thong-bao-ap-gia-nuoc-sinh-hoat-cho-nguoi-thue-nha-va-can-ho-chung-cu" style="text-decoration: none; cursor: pointer">Thông báo áp giá nước sinh hoạt cho người thuê nhà và căn hộ chung cư</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table><img id="ctl00_ContentPlace_grvTinTuc2_IADD" class="dxGridView_gvDragAndDropArrowDown_MetropolisBlue" src="/DXR.axd?r=1_19-LRG4e" alt="|" style="position:absolute;visibility:hidden;top:-100px;"><img id="ctl00_ContentPlace_grvTinTuc2_IADU" class="dxGridView_gvDragAndDropArrowUp_MetropolisBlue" src="/DXR.axd?r=1_19-LRG4e" alt="|" style="position:absolute;visibility:hidden;top:-100px;"><img id="ctl00_ContentPlace_grvTinTuc2_IDHF" class="dxGridView_gvDragAndDropHideColumn_MetropolisBlue" src="/DXR.axd?r=1_19-LRG4e" alt="Hide" style="position:absolute;visibility:hidden;top:-100px;"><table id="ctl00_ContentPlace_grvTinTuc2_LP" class="dxgvLoadingPanel_MetropolisBlue" cellspacing="0" cellpadding="0" style="border-collapse:collapse;left:0px;top:0px;z-index:30000;display:none;">
                                        <tbody>
                                            <tr>
                                                <td class="dx" style="padding-right:0px;"><img class="dxlp-loadingImage dxlp-imgPosLeft" src="/DXR.axd?r=1_19-LRG4e" alt="" align="middle"></td>
                                                <td class="dx" style="padding-left:0px;"><span id="ctl00_ContentPlace_grvTinTuc2_TL">Loading…</span></td>
                                            </tr>
                                        </tbody>
                                    </table><div id="ctl00_ContentPlace_grvTinTuc2_LD" class="dxgvLoadingDiv_MetropolisBlue" style="display:none;z-index:29999;position:absolute;">

                                    </div><input type="hidden" name="ctl00$ContentPlace$grvTinTuc2$DXSelInput" id="ctl00_ContentPlace_grvTinTuc2_DXSelInput"><input type="hidden" name="ctl00$ContentPlace$grvTinTuc2$DXKVInput" id="ctl00_ContentPlace_grvTinTuc2_DXKVInput" value="['17','16','11']"><table id="ctl00_ContentPlace_grvTinTuc2_DXStyleTable" style="display:none;">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvEditingErrorRow_MetropolisBlue">
                                                <td class="dxgv" data-colspan="1" style="border-right-width:0px;"></td>
                                            </tr>
                                            <tr class="dxgvSelectedRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvFocusedRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvFocusedGroupRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="dxgvBatchEditCell_MetropolisBlue dxgv"></td>
                                                <td class="dxgvBatchEditModifiedCell_MetropolisBlue dxgv"></td>
                                                <td class="dxgvBatchEditCell_MetropolisBlue dxgvBatchEditModifiedCell_MetropolisBlue dxgv"></td>
                                            </tr>
                                            <tr class="dxgvDataRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvDataRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                            <tr class="dxgvDataRow_MetropolisBlue">
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table><input type="hidden" name="ctl00$ContentPlace$grvTinTuc2$CallbackState" id="ctl00_ContentPlace_grvTinTuc2_CallbackState" value="BwIHAQIFU3RhdGUHNwcABwAHAAcABwACAAUAAACACQICSUQHAQICSUQDCQIAAgADBwQCAAcAAgEHAwcAAgEHAAcABwACCFBhZ2VTaXplAwcD">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script id="dxss_1409246944" type="text/javascript">
<!--

                        var dxo = new ASPxClientGridView('ctl00_ContentPlace_grvTinTuc2');
                        window['grvCauHoi'] = dxo;
                        dxo.callBack = function (arg) { WebForm_DoCallback('ctl00$ContentPlace$grvTinTuc2', arg, aspxCallback, 'ctl00_ContentPlace_grvTinTuc2', aspxCallbackError, true); };
                        dxo.uniqueID = 'ctl00$ContentPlace$grvTinTuc2';
                        dxo.callBacksEnabled = true;
                        dxo.pageRowCount = 3;
                        dxo.pageRowSize = 3;
                        dxo.pageIndex = 0;
                        dxo.pageCount = 1;
                        dxo.selectedWithoutPageRowCount = 0;
                        dxo.filteredSelectedWithoutPageRowCount = 0;
                        dxo.visibleStartIndex = 0;
                        dxo.focusedRowIndex = -1;
                        dxo.allowFocusedRow = false;
                        dxo.allowSelectByRowClick = false;
                        dxo.allowSelectSingleRowOnly = false;
                        dxo.allowMultiColumnAutoFilter = false;
                        dxo.indentColumnCount = 0;
                        dxo.callbackOnFocusedRowChanged = false;
                        dxo.callbackOnSelectionChanged = false;
                        dxo.autoFilterDelay = '1200';
                        dxo.columns = [];
                        dxo.editState = 0;
                        dxo.editMode = 2;
                        dxo.searchPanelFilter = '';
                        dxo.AfterCreate();

//-->
                    </script>

                </div>
            </div>
        </div>
        <!--=== End main content ===-->
        <!--=== Chỉ dẫn cho người dùng nước ===-->
        <!--/container-->
        <!--=== End Chỉ dẫn cho người dùng nước  ===-->
        <!--=== Footer Version 1 ===-->
        @RenderPage("_Footer.cshtml")
        <!--=== End Footer Version 1 ===-->
    </div>
    <!--/wrapper-->

    @RenderPage("_Script.cshtml")
</body>

</html>